<h1>Log In</h1>
<form>
  <div class="form-group">
    <label for="qrcodefile">Secret image</label>
    <input type="file" id="qrcodefile" name="qrcodefile">
    <p class="help-block">Upload your secret image to log in.</p>
  </div>
  <input type="submit" value="Send">
</form>
