<h1>New Account</h1>
<p>
  This is your <strong>secret image</strong>. Save it to access your account.
  <img src="img/example.png" style="display: block">
</p>
<p>
  <a class="btn btn-primary" href="#log-in">Continue to Log In</a>
</p>
